*
{
	box-sizing: border-box;

}

#line
{
	background-color: #777;
	height:4px;
	width: auto;
}

#textwrap
{
	margin: 0% 20% 0% 20%;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}



ul
{
	list-style-type: none;
	margin: 1%;
	padding: 0;
	overflow: hidden;
}


#navbar
{	
	margin-top: 60px;
	float: none;
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Style the article */
article
{
	background-color: #A23E5;
	height: 160px;
	text-align: center;
}

#box1, #box2
{
	padding: 10px;
	font-size: 30px;
	border-radius: 20px;
}
.grid-container
{
	margin-top: 10px;
	display: grid;
	column-gap: 4%;
	background-color: #A23E5;
	grid-template-columns: 48% 48%;
	
}
#product
{
	height:500px;
	background-color: #99ff99;
}
#service
{
	height:500px;
	background-color: #00ff00;
}

/* Style the header aside */
aside
{
	background-color: #999;
	width: 100%;
	padding: 10px;
	text-align: center;
	font-size: 12px;
	margin-bottom: 2px;
	border-radius: 5px 25px 10px;
}

#imgbox1
{
	height:200px;
	background-color: #ffe6b3;
}
#subheading
{
	height:85px;
	background-color: #ff9f00;
	border-radius: 20px;
}

#info
{
	height:200px;
	background-color: #ff9f00;
	border-radius: 20px;
}

/* Style the footer */
footer
{
	background-color: #f2d9e6;
	height: 80px;
	width: 100%;
	padding: 10px;
	text-align: center;
	font-size: 12px;
	border-radius: 5px 25px 10px;
}

#soc_med
{
	float: right;
	padding: 1%;
}

.container {
  position: relative;
  width: 50%;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}


.container a:hover .image {
  opacity: 0.3;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on tablet screens */
@media (max-width: 600px)

*
{
	box-sizing: border-box;
	margin-left: 1%;
	margin-right: 1%;
}

header, nav, section, article, footer
{
	width: 100%;
	height: auto;
}
aside
{
	height: 100%;
}

#info
{
	width: 100%;
	height: auto;
}


